/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Popup background */
body {
  width: 300px;
  height: 200px;
  background: #0f0f0f;
  color: white;
  font-family: system-ui, sans-serif;
}

/* Root container */
#root {
  height: 100%;
  border: 2px solid #4f46e5;   /* blue border */
  border-radius: 10px;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text */
h1 {
  font-size: 20px;
  color: #e5e7eb;
}

